<div class="background">
    <img src="assets/img/blur-about-green.png" class="blur" alt="">
    <section>
        <div data-aos="fade-right" class="info-text">
            <h1>{{ 'about.headline' | translate }}</h1>
            <p>{{ 'about.text1' | translate }}</p>
            <div class="textAndImg">
                <img src="assets/img/bulb.png" alt="">
                <p>{{ 'about.text2' | translate }}</p>
            </div>
            <div class="textAndImg">
                <img src="assets/img/puzzle.png" alt="">
                <p>{{ 'about.text3' | translate }}</p>
            </div>
        </div>
        <div class="imgAndLine">
            <img class="portraitImg" src="assets/img/about-me-image.webp" alt="">
            <hr class="line">
        </div>


    </section>
</div>