@import "./../../styles.scss";

.background{
  background-color: $bgColor1;
  padding: 0 64px;
}

section {
  max-width: $contentLimit;
  margin-inline: auto;
  @include dFlex($jc: space-between);
  color: white;
  @media(max-width: 1299px){
    @include dFlex($jc: center);
}
}

.portraitImg {
  height: 450px;
  width: 450px;
  border: 4px solid $cyan-blue;
  border-radius: 50%;
  object-fit: cover;
  @media (max-width: 1299px) {
    display: none;
  }
}

.info-text {
  @include dFlex($fd: column, $ai: flex-start, $g: 32px);
  width: 40%;
  @media(max-width: 1299px){
    width: 100%;
}
}

.line {
  @extend .blueLine;
  background-color: $cyan-blue !important;
  width: 300px;
  @media (max-width: 1299px) {
    display: none;
  }
}

.textAndImg {
  @include dFlex($g: 16px, $jc: flex-start);
  p {
    max-width: 500px;
  }
  img {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    flex-shrink: 0;
  }
}

h1 {
  @include fontPoppins($fs: 90px, $fw: 700);
  @media(max-width: 899px){
    @include fontPoppins($fs: 45px, $fw: 700);
  }
}

p {
  @include fontPoppins($fs: 16px, $fw: 400);
}
