<div class="background">
    <section>
        <div data-aos="fade-right" class="info-text">
            <h1>About me</h1>
            <p>Hi, i am a Frontend Developer based in Partenstein, a small Village between
                Aschaffenburg and Würzburg. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque corporis
                magni,
                ipsam minima quos nam tempore distinctio, tenetur dignissimos obcaecati veritatis harum quae fuga
                asperiores
                totam, amet officiis pariatur consequatur.
            </p>
            <div class="textAndImg">
                <img src="assets/img/bulb.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eligendi numquam veniam tempore
                    molestias at doloremque corporis eos quia architecto asperiores quasi, id illo odio nesciunt
                    deleniti facere nulla nemo?</p>
            </div>
            <div class="textAndImg">
                <img src="assets/img/puzzle.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, unde possimus. Reprehenderit voluptas
                    at, excepturi temporibus accusantium ducimus. Obcaecati iste quis at maiores accusamus quam impedit
                    cupiditate possimus minus recusandae.</p>
            </div>
        </div>
        <div class="imgAndLine">
            <img class="portraitImg" src="assets/img/placeholder_portrait.png" alt="">
            <hr class="line">
        </div>

        
    </section>
</div>