@import "./../../../styles.scss";

header {
  background-color: $bgColor2;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 64px;
}

.contentWrapper {
  max-width: $contentLimit;
  margin-inline: auto;
  min-height: 100px;
  @include dFlex($jc: space-between);
  color: white;

  nav {
    @include dFlex($g: 32px);
    span {
      @include fontPoppins($fs: 23px, $fw: 400);
      cursor: pointer;
      &:hover {
        color: $cyan-blue;
      }
    }
  }

  .activeLangBtn {
    text-decoration: underline;
    text-decoration-color: $cyan-blue;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
  }

  .languageBtns {
    @include dFlex($g: 8px);
    span{
      @include fontPoppins($fs: 16px, $fw: 400);
    }
  }
}
