<header>
    <div class="contentWrapper">
        <a href="#top">
            <span class="firstLetter">M</span><span class="other">anue</span><span class="lastLetter">l</span>
        </a>

        <nav>
            <span (click)="scrollToElement('aboutMe')">{{'header.about' | translate}}</span>
            <span (click)="scrollToElement('skills')">{{'header.skills' | translate}}</span>
            <span (click)="scrollToElement('portfolio')">{{'header.portfolio' | translate}}</span>
            <div class="languageBtns">
                <span [ngClass]="{'activeLangBtn': currentLanguage === 'de'}" (click)="this.translationService.changeLanguage('de')">DE</span>
                <span>|</span>
                <span [ngClass]="{'activeLangBtn': currentLanguage === 'en'}" (click)="this.translationService.changeLanguage('en')">EN</span>
            </div>


        </nav>
    </div>
</header>