@import "./../../../styles.scss";

section {
  background-color: $bgColor2;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding: 0 16px;
  @include dFlex($jc: space-between);
}

.d-none {
  display: none;
}

.sidebar {
  z-index: 10;
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 29, 47, 0.8);
  animation: slideIn 300ms ease;
  nav {
    @include dFlex($fd: column, $g: 29px);
    margin-top: auto;
    height: 50%;
    span {
      @include fontPoppins($fs: 23px, $fw: 400);
      cursor: pointer;
    }
  }
}

@keyframes slideIn{
  from{
    transform: translateX(100%);
  }
  to{
    transform: none;
  }
}

.burgerMenu {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  &:hover .middle {
    width: 50%;
  }
  .top {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
  }

  .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transition-duration: 175ms;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
  }

  .bottom {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
  }
}

.burgerMenuClosed {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;

  .top {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    animation-duration: 175ms;
    transform: rotate(-45deg);
  }

  .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transition-duration: 175ms;
    width: 0 !important;
    height: 2px;
    border-radius: 2px;
    background-color: white;
  }

  .bottom {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    animation-duration: 175ms;
    transform: rotate(45deg);
  }
}

.activeLangBtn {
  text-decoration: underline;
  text-decoration-color: $cyan-blue;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.languageBtns {
  @include dFlex($g: 8px);
  span {
    font-size: 16px !important;
  }
}
