<section>
    <div>
        <span class="firstLetter">M</span><span class="other">anue</span><span class="lastLetter">l</span>
    </div>
    <div class="burgerMenu">
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
    </div>
    <div class="sidebar">
        <nav>
            <a href="">About me</a>
            <a href="">My Skills</a>
            <a href="">Portfolio</a>
            <a href="">Contact</a>
        </nav>

    </div>
</section>