@import './../../../styles.scss';

section{
   background-color: $bgColor1;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100px;
   padding: 0 16px;
   @include dFlex($jc: space-between);
}

.burgerMenu{
    width: 30px;
    height: 30px;
    @include dFlex($fd: column, $jc: space-around);
}

.line{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
}