@import "./../../styles.scss";

.background {
  z-index: 0;
  position: relative;
  background-color: $bgColor2;
  padding: 0 64px;
  @media (max-width: 599px) {
    padding: 0 32px 0 16px;
  }
  .shadow {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 800px;
    height: 800px;
  }
}

.line{
  height: 4px;
  border: unset;
  border-radius: 4px;
  width: 80px;
  background-color: $blue;
  margin: 64px 32px auto 0;
  @media(max-width: 599px) {
    width: 30px;
    margin: 32px 16px auto -16px;
  }
}

section {
  @include dFlex();
  > div {
    z-index: 2;
    max-width: $contentLimit;
    margin-inline: auto;
    @include dFlex($fd: column, $ai: normal, $g: 64px);

    h1 {
      @include fontPoppins($fs: 90px, $fw: 700);
      margin-right: auto;
      @media (max-width: 599px) {
        @include fontPoppins($fs: 45px, $fw: 700);
      }
    }
    > div {
      @include dFlex($jc: space-between);
      @media (max-width: 1299px) {
        @include dFlex($fd: column, $g: 40px, $ai: flex-start);
      }
    }
  }
}

.description {
  height: 100%;
  margin-bottom: auto;
  max-width: 600px;
  @include dFlex($fd: column, $g: 32px, $ai: flex-start);

  h2 {
    @include fontPoppins($fs: 32px, $fw: 700);
  }
  p {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
  span {
    @include fontPoppins($fs: 16px, $fw: 700);
  }
}

::placeholder {
  color: white;
}

.contactForm {
  > form {
    @include dFlex($fd: column, $g: 32px);
    span {
      @include fontPoppins($fs: 14px, $fw: 400);
    }
    a {
      @include fontPoppins($fs: 14px, $fw: 400, $c: $blue);
      &:hover {
        text-decoration: underline;
      }
    }

    input,
    textarea {
      background-color: $bgColor1;
      border-radius: 10px;
      width: 100%;
      padding: 15px 25px;
      @include fontPoppins($fs: 16px, $fw: 400);
      &:focus {
        outline: none;
      }
    }

    textarea {
      min-height: 200px;
      resize: vertical;
    }
  }
}

.inputError {
  border: 1px solid $errorRed;
}

.inputDone {
  border: 1px solid $doneGreen !important;
}

.inputNormal {
  border: 1px solid $blue;
  &:hover {
    border-color: $hoverGreen;
  }
}

::-webkit-resizer {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $blue;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px $bgColor1 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.checkbox {
  @include dFlex($g: 12px);
  position: relative;
  input {
    width: fit-content !important;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    &:invalid + .customCheckIcon {
      background-image: url(./../../assets/img/check_box_outline_blank.png);
    }
    &:valid + .customCheckIcon {
      background-image: url(./../../assets/img/check_box_checked.png);
    }
    &:invalid:hover + .customCheckIcon {
      background-image: url(./../../assets/img/check_box_invalid_hover.png);
    }
    &:valid:hover + .customCheckIcon {
      background-image: url(./../../assets/img/check_box_valid_hover.png);
    }
  }
  .isUncheckedText {
    position: absolute;
    bottom: -20px;
    left: 0;
    @include fontPoppins($fs: 14px, $fw: 400);
    color: $errorRed !important;
  }
}

.customCheckIcon {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: none;
}

.textareaWrapper,
.nameWrapper,
.emailWrapper {
  position: relative;
  width: 100%;

  .sign {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 50%;
    right: 12px;
    transform: translateY(50%);
  }

  span {
    color: $errorRed !important;
    position: absolute;
    bottom: -20px;
    left: 0;
    @include fontPoppins($fs: 14px, $fw: 400);
  }
}

.resizer {
  position: absolute;
  bottom: 12px;
  right: 8px;
}

.signTextArea {
  position: absolute;
  top: 12px;
  right: 12px;
}

.submitBtn:disabled {
  cursor: not-allowed !important;
  background-color: rgba(182, 182, 182, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    transform: none;
  }
}

.scrollUp {
  margin-top: 32px;
  margin-left: auto;
}

.scrollUpBtn {
  height: 39px;
  width: 39px;
  cursor: pointer;
  &:hover {
    rect {
      stroke: $cyan-blue;
    }
    path {
      stroke: $cyan-blue;
      fill: $cyan-blue;
    }
  }
}
