<div class="background">

    <img class="blur" src="assets/img/blur-contact.png" alt="">

    <section>
        <hr class="line">
        <div>
            <h1>{{ 'contact.headline' | translate }}</h1>
            <div>
                <div class="description">
                    <h2>{{ 'contact.subheadline' | translate }}</h2>
                    <p>{{ 'contact.text1' | translate }}</p>
                    <p>
                        {{ 'contact.text2' | translate }} <span>{{ 'contact.text3' | translate }}</span>
                    </p>
                </div>
                <div data-aos="zoom-in" class="contactForm">
                    <form (ngSubmit)="onSubmit(contactForm)" name="emailForm" #contactForm="ngForm">
                        <div class="nameWrapper">
                            <input [ngClass]="{
                        'inputError': !name.valid && name.touched,
                        'inputDone': name.valid,
                        'inputNormal': name.untouched
                        }" #name="ngModel" [(ngModel)]="contactData.name" required id="name" name="name" type="text"
                                placeholder="{{ 'contact.ph-name' | translate }}" minlength="2">
                            @if(!name.valid && name.touched){
                            <span>{{ 'contact.err-name' | translate }}</span>
                            <img class="sign" src="assets/img/errorSign.png" alt="">
                            } @else if (name.valid) {
                            <img class="sign" src="assets/img/doneSign.png" alt="">
                            }
                        </div>

                        <div class="emailWrapper">
                            <input [ngClass]="{
                    'inputError': !email.valid && email.touched,
                    'inputDone': email.valid,
                    'inputNormal': email.untouched
                    }" #email="ngModel" [(ngModel)]="contactData.email" required id="email" name="email" 
                                placeholder="{{ 'contact.ph-email' | translate }}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                            @if(!email.valid && email.touched){
                            <span>{{ 'contact.err-email' | translate }}</span>
                            <img class="sign" src="assets/img/errorSign.png" alt="">
                            } @else if (email.valid) {
                            <img class="sign" src="assets/img/doneSign.png" alt="">
                            }
                        </div>

                        <div class="textareaWrapper">
                            <textarea [ngClass]="{
                        'inputError': !message.valid && message.touched,
                        'inputDone': message.valid,
                        'inputNormal': message.untouched
                        }" #message="ngModel" [(ngModel)]="contactData.message" required name="message" id="message"
                                placeholder="{{ 'contact.ph-message' | translate }}" minlength="4"></textarea>
                            <img class="resizer" src="assets/img/textarea_resizer.png" alt="">
                            @if(!message.valid && message.touched){
                            <span>{{ 'contact.err-message' | translate }}</span>
                            <img class="signTextArea" src="assets/img/errorSign.png" alt="">
                            } @else if (message.valid) {
                            <img class="signTextArea" src="assets/img/doneSign.png" alt="">
                            }
                        </div>
                        <div class="checkbox">
                            <input #checkbox="ngModel" [(ngModel)]="contactData.privacy" id="privacy" type="checkbox"
                                name="privacy" required>
                            <span class="customCheckIcon"></span>
                            @if(!checkbox.valid && message.valid && email.valid && name.valid){
                            <span class="isUncheckedText">{{ 'contact.accept' | translate }}</span>
                            }
                            <label for="privacy">
                                <span>{{ 'contact.privacy1' | translate }} </span>
                                 <a (click)="scrollToAnchorService.goToComponent('privacy', 0)">{{ 'contact.privacy2' | translate }} </a>
                                <span>{{ 'contact.privacy3' | translate }}</span>
                            </label>
                        </div>

                        <button type="submit" name="submitBtn" [disabled]="!contactForm.valid"
                            class="defaultBtn1 submitBtn">{{ 'contact.submitBtn' | translate }}</button>
                    </form>
                </div>
            </div>
            <a class="scrollUp" href="#top">
                <svg class="scrollUpBtn" width="39" height="39" viewBox="0 0 39 39" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2" />
                    <path
                        d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z"
                        fill="white" />
                </svg>
            </a>
        </div>
    </section>

</div>

<!-- Change Links to goToComponent Method from scrollToAnchorService!!! -->