@import "./../../styles.scss";

section {
  background-color: $bgColor1;
  @include dFlex($fd: column, $ai: normal);
  padding: 0 64px;
  h1 {
    @include fontPoppins($fs: 90px, $fw: 700);
    margin-right: auto;
  }
  > div {
    @include dFlex($jc: space-between);
  }
}

.description {
  height: 100%;
  margin-bottom: auto;
  margin-top: 32px;
  max-width: 600px;
  @include dFlex($fd: column, $g: 32px, $ai: flex-start);

  h2 {
    @include fontPoppins($fs: 32px, $fw: 700);
  }
  p {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
  span {
    @include fontPoppins($fs: 16px, $fw: 700);
  }
}

::placeholder {
  color: white;
}

.contactForm {
  > form {
    @include dFlex($fd: column, $g: 32px);
    span {
      @include fontPoppins($fs: 14px, $fw: 400);
    }
    a {
      @include fontPoppins($fs: 14px, $fw: 400, $c: $blue);
    }

    input,
    textarea {
      background-color: $bgColor1;
      border: 1px solid $blue;
      border-radius: 10px;
      width: 100%;
      padding: 15px 25px;
      @include fontPoppins($fs: 16px, $fw: 400);
      &:focus {
        outline: none;
      }
    }

    textarea {
      min-height: 200px;
      resize: vertical;
    }
  }
}

::-webkit-resizer {
  display: none;
}

.checkbox {
  @include dFlex($g: 12px);
  position: relative;
  input {
    width: fit-content !important;
  }
  .unchecked{
    position: absolute;
    bottom: -20px;
    left: 0;
    @include fontPoppins($fs: 14px, $fw: 400);
    color: $errorRed !important;
  }
}

.textareaWrapper,
.nameWrapper,
.emailWrapper {
  position: relative;
  width: 100%;

  .sign {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 50%;
    right: 12px;
    transform: translateY(50%);
  }

  span {
    color: $errorRed !important;
    position: absolute;
    bottom: -20px;
    left: 0;
    @include fontPoppins($fs: 14px, $fw: 400);
  }
}

.resizer {
  position: absolute;
  bottom: 12px;
  right: 8px;
}

.signTextArea{
  position: absolute;
  top: 12px;
  right: 12px;
}

.submitBtn:disabled{
  cursor: not-allowed !important;
  filter: grayscale(1.5);
  &:hover{
    transform: none;
    background-color: rgba(0, 190, 232, 1);
  }
}
