@import '../../../../styles.scss';

.projectImg {
    width: 500px;
  
    @media (max-width: 899px) {
      width: calc(100% - 32px);
    }
  }

.project-wrapper {
    @include dFlex($fd: row, $g: 35px, $jc: space-around);

    @media (max-width: 1299px) {
      @include dFlex($fd: column);
    }

    .project {
      @include dFlex($fd: column, $ai: flex-end, $g: 35px);

      @media (max-width: 1299px) {
        @include dFlex($fd: column, $ai: flex-end, $g: 35px);
      }
    }

    .portfolioDescription {
      max-width: 60ch;
      @include dFlex($fd: column, $ai: flex-end, $g: 35px);

      @media (max-width: 1299px) {
        width: 100%;
        align-items: center;
      }

      h1 {
        @include fontPoppins($c: $blue, $fs: 32px, $fw: 700);
        text-align: end;
        width: 100%;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }

      h2 {
        @include fontPoppins($c: $cyan-blue, $fs: 23px, $fw: 400);
        text-align: end;
        width: 100%;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }

      p {
        @include fontPoppins($fs: 16px, $fw: 400);
        text-align: end;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }
    }
  }

  .btns {
    @include dFlex($g: 86px);
  
    @media (max-width: 1299px) {
      width: 100%;
    }
  
    @media (max-width: 599px) {
      gap: 24px;
    }
  
    button {
      @media (max-width: 599px) {
        padding: 10px 20px;
      }
    }
  }
  
  .join-selection {
    @include dFlex($g: 24px);
  
    @media(max-width: 1299px) {
      flex-direction: column;
    }
  
    .divider{
      font-size: 24px;
    }
  
    >div {
      @include dFlex($g: 16px);
    }
  
    span {
      color: white;
      cursor: pointer;
    }
  }
  
  .version-wrapper {
    position: relative;
  }
  
  .underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 3px;
    border: unset;
    border-radius: 100vw;
    background-color: $blue;
  }
  
  .active-join {
    color: $cyan-blue !important;
  }