@import "./../../styles.scss";

.background {
  background-color: $bgColor2;
  padding: 0 64px;
  @media (max-width: 899px) {
    padding: 0 16px 0 16px;
  }
}

.invisible {
  visibility: hidden;
  transform: translateX(-500px);
  @media (max-width: 599px) {
    transform: translateX(-300px);
  }
}

.visible {
  visibility: visible;
  transform: translateX(0);
  transition: transform 500ms ease-out;
}

section {
  max-width: $contentLimit;
  margin-inline: auto;
  @include dFlex($fd: row-reverse, $g: 32px, $jc: space-between);
  @media (max-width: 1299px) {
    @include dFlex($fd: column, $g: 64px);
  }
}

.descriptionWrapper{
  @include dFlex($fd: row-reverse, $g: 16px, $ai: flex-start);
  max-width: 40%;
  @media(max-width: 1299px) {
    width: 100%;
    max-width: 100%;
  }
}

.lineWrapper{
  height: 140px;
  display: flex;
  align-items: center;
  @media(max-width: 899px) {
    height: 70px;
  }
  .line {
    background-color: $blue;
    height: 4px;
    border-radius: 4px;
    border: unset;
    width: 150px;
    @media(max-width: 899px) {
      width: 40px;
      margin-right: -16px;
    }
  }
}

.skill {
  @include dFlex();
  width: 100px;
  height: 100px;
  text-align: center;
}

.icons {
  @include dFlex($g: 120px, $jc: flex-start);
  flex-wrap: wrap;
  width: 50%;
  @media (max-width: 1299px) {
    width: 100%;
    gap: 80px;
  }
  @media (max-width: 899px) {
    gap: 32px;
    justify-content: center;
  }
  img {
    width: 60px;
    height: 60px;
    @media (max-width: 899px) {
      width: 45px;
      height: 45px;
    }
    &:hover {
      animation: logoAnimations 225ms ease-in-out;
    }
  }
  > div {
    @include dFlex($fd: column, $g: 10px);
    p {
      @include fontPoppins($fs: 16px, $fw: 700);
      @media (max-width: 899px) {
        @include fontPoppins($fs: 14px, $fw: 700);
      }
    }
  }
}

@keyframes logoAnimations {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -9px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.description {
  color: white;
  @include dFlex($fd: column, $g: 34px);
  @media (max-width: 1299px) {
    @include dFlex($fd: row-reverse, $g: 32px, $jc: flex-start);
    width: 100%;
  }
  @media(max-width: 599px){
    gap: 16px;
  }
  > div {
    @include dFlex($fd: column, $g: 34px, $ai: flex-end);
    text-align: end;
    h1 {
      white-space: nowrap;
      height: 140px;
      @include fontPoppins($fs: 90px, $fw: 700);
      @media (max-width: 899px) {
        height: 70px;
        @include fontPoppins($fs: 45px, $fw: 700);
      }
    }
    span {
      @include fontPoppins($fs: 16px, $fw: 400);
      max-width: 70ch;
      @media(max-width: 899px){
        max-width: 50ch;
      }
    }
    div {
      @include dFlex($g: 64px);
    }
  }
}

.mobileBtn{
  @media (min-width: 1300px) {
    display: none !important;
  }
}

.desktopBtn {
  @media (max-width: 1299px) {
    display: none;
  }
}
