<div class="background">
    <img src="assets/img/blur-skills-blue.png" class="blur" alt="">
    <section>
        <div class="descriptionWrapper" data-aos="fade-left">
            <div class="lineWrapper">
                <hr class="line">
            </div>
            <div class="description">
                <div>
                    <h1>{{ 'skills.headline' | translate }}</h1>
                    <span>{{ 'skills.text' | translate }}</span>
                </div>
                <button (click)="scrollToElement('contact')" class="defaultBtn1 desktopBtn">{{'skills.btn' |
                    translate}}</button>
            </div>
        </div>

        <div class="icons">
            @for (skill of skills.skills; track $index) {
            <div class="skill">
                <img src="assets/img/{{ skill.icon }}" alt="">
                <p>{{ skill.title }}</p>
            </div>
            }
        </div>
        <button (click)="scrollToElement('contact')" class="defaultBtn1 mobileBtn">{{'skills.btn' | translate}}</button>
    </section>
</div>