@import "./../../styles.scss";

.background {
  background-color: $bgColor2;
  padding: 0 64px;
  @media (max-width: 899px) {
    padding: 0 16px 0 16px;
  }
}

.invisible {
  visibility: hidden;
  transform: translateX(-500px);
  @media (max-width: 599px) {
    transform: translateX(-300px);
  }
}

.visible {
  visibility: visible;
  transform: translateX(0);
  transition: transform 500ms ease-out;
}

section {
  max-width: $contentLimit;
  margin-inline: auto;
  @include dFlex($fd: row-reverse, $g: 32px);
  @media (max-width: 1299px) {
    @include dFlex($fd: column, $g: 64px);
  }
}

.line {
  background-color: $blue;
  height: 4px;
  border-radius: 4px;
  border: unset;
  flex: 1;
  min-width: 58px;
}

.skill {
  @include dFlex();
  width: 100px;
  height: 100px;
  text-align: center;
}

.icons {
  @include dFlex($g: 120px, $jc: flex-start);
  flex-wrap: wrap;
  width: 50%;
  @media (max-width: 1299px) {
    width: 100%;
    gap: 80px;
  }
  @media (max-width: 899px) {
    gap: 32px;
    justify-content: center;
  }
  img {
    width: 60px;
    height: 60px;
    @media (max-width: 899px) {
      width: 45px;
      height: 45px;
    }
    &:hover{
      animation: logoAnimations 300ms ease-in-out;
    }
  }
  > div {
    @include dFlex($fd: column, $g: 10px);
    p {
      @include fontPoppins($fs: 16px, $fw: 700);
      @media (max-width: 899px) {
        @include fontPoppins($fs: 14px, $fw: 700);
      }
    }
  }
}

@keyframes logoAnimations{
  0%{
    transform: translate(0, 0);
  }

  25%{
    transform: translate(0, -7px);
  }

  50%{
    transform: translate(0, 0);
  }

  75%{
    transform: translate(0, -7px);
  }

  100%{
    transform: translate(0, 0);
  }
}

.description {
  width: 30%;
  color: white;
  @include dFlex($fd: column, $g: 34px);
  @media (max-width: 1299px) {
    width: 100%;
  }
  > div {
    @include dFlex($fd: column, $g: 34px, $ai: flex-end);
    text-align: end;
    h1 {
      white-space: nowrap;
      @include fontPoppins($fs: 90px, $fw: 700);
      @media (max-width: 899px) {
        @include fontPoppins($fs: 45px, $fw: 700);
      }
    }
    span {
      @include fontPoppins($fs: 16px, $fw: 400);
    }
    div {
      @include dFlex($g: 64px);
    }
  }
}

.mobileBtn {
  @media (min-width: 1300px) {
    display: none;
  }
}

.desktopBtn {
  @media (max-width: 1299px) {
    display: none;
  }
}
