@import "./../../styles.scss";

.background {
  position: relative;
  background-color: $bgColor2;
  width: 100vw;
  padding: 0 64px;

  @media (max-width: 599px) {
    padding: 0 16px;
  }

  .blur {
    z-index: 1;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    width: 30%;
    @media (max-width: 899px) {
      width: 60%;
    }
  }
}

section {
  position: relative;
  z-index: 2;
  max-width: $contentLimit;
  margin-inline: auto;
  @include dFlex($fd: column);

  p {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
}

.firstWrapper {
  width: 33%;
  @include dFlex($jc: flex-end);

  @media (max-width: 599px) {
    width: 15%;
  }
}

.secondWrapper {
  width: 33%;
  min-width: fit-content;

  @media (max-width: 599px) {
    width: 70%;
  }
}

.thirdWrapper {
  width: 33%;
  @include dFlex();
  margin-right: -16px;

  @media (max-width: 599px) {
    width: 15%;
    margin-left: 8px;
  }
}

.headline {
  @include dFlex($jc: flex-end, $g: 32px);
  width: 100%;

  @media (max-width: 599px) {
    gap: 16px;
  }

  h1 {
    @include fontPoppins($fs: 90px, $fw: 700);
    text-align: center;

    @media (max-width: 899px) {
      @include fontPoppins($fs: 45px, $fw: 700);
    }
  }
}

.line {
  border: unset;
  height: 4px;
  border-radius: 4px;
  background-color: $blue;
}

.shortLine {
  @extend .line;
  width: 100px;

  @media (max-width: 599px) {
    width: 30px;
  }
}

.longLine {
  @extend .line;
  flex-grow: 1;
  min-width: 100px;
  max-width: 100%;
  @media (max-width: 599px) {
    min-width: 50px;
  }
}

.projectImg {
  width: 500px;

  @media (max-width: 899px) {
    width: calc(100% - 32px);
  }
}

.projects {
  width: 100%;
  app-project:nth-child(even) {
    @include dFlex($g: 35px, $jc: space-around);

    @media (max-width: 1299px) {
      @include dFlex($fd: column);
    }

    .project {
      @include dFlex($fd: column, $ai: flex-end, $g: 35px);

      @media (max-width: 1299px) {
        @include dFlex($fd: column, $ai: flex-start, $g: 35px);
      }
    }

    .portfolioDescription {
      max-width: 60ch;
      @include dFlex($fd: column, $ai: flex-start, $g: 35px);

      @media (max-width: 1299px) {
        width: 100%;
        align-items: center;
      }

      h1 {
        @include fontPoppins($c: $blue, $fs: 32px, $fw: 700);
        text-align: end;
        width: 100%;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }

      h2 {
        @include fontPoppins($c: $cyan-blue, $fs: 23px, $fw: 400);
        text-align: end;
        width: 100%;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }

      p {
        @include fontPoppins($fs: 16px, $fw: 400);
        text-align: end;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }
    }
  }

  app-project:first-child {
    @include dFlex($fd: row-reverse, $g: 35px, $jc: space-around);

    .project {
      @include dFlex($fd: column, $ai: flex-start, $g: 35px);
    }

    @media (max-width: 1299px) {
      @include dFlex($fd: column);
    }

    .portfolioDescription {
      max-width: 60ch;
      @include dFlex($fd: column, $ai: flex-start, $g: 35px);

      @media (max-width: 1299px) {
        width: 100%;
        align-items: center;
      }

      h1 {
        @include fontPoppins($c: $blue, $fs: 32px, $fw: 700);
        text-align: start;
        width: 100%;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }

      h2 {
        @include fontPoppins($c: $cyan-blue, $fs: 23px, $fw: 400);
        text-align: start;
        width: 100%;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }

      p {
        @include fontPoppins($fs: 16px, $fw: 400);
        text-align: start;

        @media (max-width: 1299px) {
          text-align: center;
        }
      }
    }
  }
}

.btns {
  @include dFlex($g: 86px);

  @media (max-width: 1299px) {
    width: 100%;
  }

  @media (max-width: 599px) {
    gap: 24px;
  }

  button {
    @media (max-width: 599px) {
      padding: 10px 20px;
    }
  }
}
