@import "./../../styles.scss";

.background {
  position: relative;
  background-color: $bgColor2;
  width: 100vw;
  padding: 0 64px;

  @media (max-width: 599px) {
    padding: 0 16px;
  }

  .blur {
    z-index: 1;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    width: 30%;

    @media (max-width: 899px) {
      width: 60%;
    }
  }
}

section {
  position: relative;
  z-index: 2;
  max-width: $contentLimit;
  margin-inline: auto;
  @include dFlex($fd: column);

  p {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
}

.firstWrapper {
  width: 33%;
  @include dFlex($jc: flex-end);

  @media (max-width: 599px) {
    width: 15%;
  }
}

.secondWrapper {
  width: 33%;
  min-width: fit-content;

  @media (max-width: 599px) {
    width: 70%;
  }
}

.thirdWrapper {
  width: 33%;
  @include dFlex();
  margin-right: -16px;

  @media (max-width: 599px) {
    width: 15%;
    margin-left: 8px;
  }
}

.headline {
  @include dFlex($jc: flex-end, $g: 32px);
  width: 100%;

  @media (max-width: 599px) {
    gap: 16px;
  }

  h1 {
    @include fontPoppins($fs: 90px, $fw: 700);
    text-align: center;

    @media (max-width: 899px) {
      @include fontPoppins($fs: 45px, $fw: 700);
    }
  }
}

.line {
  border: unset;
  height: 4px;
  border-radius: 4px;
  background-color: $blue;
}

.shortLine {
  @extend .line;
  width: 100px;

  @media (max-width: 599px) {
    width: 30px;
  }
}

.longLine {
  @extend .line;
  flex-grow: 1;
  min-width: 100px;
  max-width: 100%;

  @media (max-width: 599px) {
    min-width: 50px;
  }
}

.projects {
  width: 100%;
}