<div class="background">
    <section>
        <div class="headline">
            <!-- <hr class="blueLine"> -->
            <h1>Portfolio</h1>
            <!-- <hr class="blueLine"> -->
        </div>
        <p>Explore a selection of my work here -
            interact with projects to see my
            skills in action.
        </p>
        <div class="projects">
            <app-project data-aos="fade-left">
                <img class="projectImg" src="assets/img/join_2.png" alt="">
                <div class="project">
                    <div class="portfolioDescription">
                        <h1>Join</h1>
                        <h2>JavaScript | HTML | CSS</h2>
                        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                            functions, assign users and categories. </p>
                    </div>
                    <div class="btns">
                        <button class="defaultBtn3">
                            <a class="noLineBreak" href="https://join.manuel-braun.net/" target="_blank">Live
                                test</a>
                        </button>
                        <button class="defaultBtn2">
                            <a href="https://github.com/manuelbrauncoder/Join" target="_blank">Github</a>
                        </button>
                    </div>
                </div>
            </app-project>

            <app-project data-aos="fade-right">
                <img class="projectImg" src="assets/img/epl_2.png" alt="">
                <div class="project">
                    <div class="portfolioDescription">
                        <h1>El Pollo Loco</h1>
                        <h2>JavaScript | HTML | CSS</h2>
                        <p>A simple Jump-and-Run game based on an object-oriented approach. Help pepe to find coins
                            and salsa bottles to fight against the killer chicken.</p>
                    </div>
                    <div class="btns">
                        <button class="defaultBtn3">
                            <a class="noLineBreak" href="https://el-pollo-loco.manuel-braun.net/" target="_blank">Live
                                test</a>
                        </button>
                        <button class="defaultBtn2">
                            <a href="https://github.com/manuelbrauncoder/El-Pollo-Loco" target="_blank">Github</a>
                        </button>
                    </div>
                </div>
            </app-project>
        </div>
    </section>
</div>