@import "./../../styles.scss";

section {
  @include dFlex($fd: column);
  background-color: $bgColor1;
  p {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
}

.headline {
  @include dFlex($g: 10px);
  h1 {
    @include fontPoppins($fs: 90px, $fw: 700);
    @media (max-width: 899px) {
      @include fontPoppins($fs: 45px, $fw: 700);
    }
  }

  hr:first-of-type {
    width: 110px;
  }
  hr:nth-of-type(2) {
    width: 700px;
    margin: 0;
  }
}

.projectImg {
  width: 500px;
}

.projects {
  app-project:nth-child(even) {
    @include dFlex($g: 35px);
    @media (max-width: 1299px) {
      @include dFlex($fd: column);
    }
  }
  app-project:first-child{
    @include dFlex($fd: row-reverse, $g: 35px);
    @media (max-width: 1299px) {
      @include dFlex($fd: column);
    }
  }
}
