<div class="background">
    <img src="assets/img/blur1-portfolio.png" class="blur" alt="">
    <section>
        <div class="headline">
            <div class="firstWrapper">
                <hr class="shortLine">
            </div>
            <div class="secondWrapper">
                <h1>{{ 'portfolio.headline' | translate }}</h1>
            </div>
            <div class="thirdWrapper">
                <hr class="longLine">
            </div>
        </div>
        <p>{{ 'portfolio.text' | translate }}
        </p>
        <div class="projects">
            <app-project data-aos="fade-left">
                        <a [ngStyle]="{'display': joinVersion === 'angular' ? 'none' : 'flex'}" class="noLineBreak" href="https://join.manuel-braun.net/" target="_blank">
                            <img class="projectImg" src="assets/img/join-mockup.webp" alt="">
                        </a>
                        <a [ngStyle]="{'display': joinVersion === 'js' ? 'none' : 'flex'}" href="https://join-360.manuel-braun.net/" target="_blank" class="noLineBreak">
                            <img class="projectImg" src="assets/img/join-2.webp" alt="">
                        </a>
                <div class="project">
                    <div [ngStyle]="{'display': joinVersion === 'angular' ? 'none' : 'flex'}" class="portfolioDescription">
                        <div class="join-selection">
                            <h1>Join</h1>
                            <div>
                                <div class="version-wrapper">
                                    <span (click)="changeVersion('angular')">Angular</span>
                                </div>
                                <div class="version-wrapper">
                                    <span class="active-join" (click)="changeVersion('js')">JavaScript</span>
                                        <hr class="underline">
                                </div>
                            </div>

                        </div>
                        <h2>JavaScript | HTML | CSS</h2>
                        <p>{{ 'portfolio.project1.text' | translate }} </p>
                    </div>
                    <div [ngStyle]="{'display': joinVersion === 'js' ? 'none' : 'flex'}" class="portfolioDescription">
                        <div class="join-selection">
                            <h1>Join</h1>
                            <div>
                                <div class="version-wrapper">
                                    <span class="active-join" (click)="changeVersion('angular')">Angular</span>
                                    <hr class="underline">
                                </div>
                                <div class="version-wrapper">
                                    <span (click)="changeVersion('js')">JavaScript</span>  
                                </div>
                            </div>

                        </div>
                        <h2>Angular | TypeScript | Firebase | HTML | SCSS</h2>
                        <p>{{ 'portfolio.project1.text' | translate }} </p>
                    </div>

                    <div [ngStyle]="{'display': joinVersion === 'angular' ? 'none' : 'flex'}" class="btns">
                            <a class="noLineBreak" href="https://join.manuel-braun.net/" target="_blank">
                                <button class="defaultBtn3">Live test</button>
                            </a>
                            <a href="https://github.com/manuelbrauncoder/Join" target="_blank">
                                <button class="defaultBtn2">Github</button>
                            </a>
                    </div>
                    <div [ngStyle]="{'display': joinVersion === 'js' ? 'none' : 'flex'}" class="btns">
                            <a class="noLineBreak" href="https://join-360.manuel-braun.net/" target="_blank">
                                <button class="defaultBtn3">Live
                                    test</button></a>
                            <a href="https://github.com/manuelbrauncoder/Join-2.0" target="_blank">
                                <button class="defaultBtn2">Github</button>
                            </a>
                    </div>

                </div>
            </app-project>
            <app-project data-aos="fade-right">
                <a class="noLineBreak" href="https://el-pollo-loco.manuel-braun.net/" target="_blank">
                    <img class="projectImg" src="assets/img/epl-mockup.webp" alt="">
                </a>
                <div class="project">
                    <div class="portfolioDescription">
                        <h1>El Pollo Loco</h1>
                        <h2>JavaScript | HTML | CSS</h2>
                        <p>{{ 'portfolio.project2.text' | translate }}</p>
                    </div>
                    <div class="btns">
                            <a class="noLineBreak" href="https://el-pollo-loco.manuel-braun.net/" target="_blank">
                                <button class="defaultBtn3">Live test</button>    
                            </a>
                            <a href="https://github.com/manuelbrauncoder/El-Pollo-Loco" target="_blank">
                                <button class="defaultBtn2">Github</button>
                            </a>
                    </div>
                </div>
            </app-project>
            <app-project data-aos="fade-left">
                <a class="noLineBreak" href="https://pokedex.manuel-braun.net/" target="_blank">
                    <img class="projectImg" src="assets/img/pokedex-mockup.webp" alt="">
                </a>
                <div class="project">
                    <div class="portfolioDescription">
                        <h1>Pokedex</h1>
                        <h2>Angular | TypeScript | Rest Api | HTML | SCSS</h2>
                        <p>{{ 'portfolio.project3.text' | translate }}</p>
                    </div>
                    <div class="btns">
                            <a class="noLineBreak" href="https://pokedex.manuel-braun.net/" target="_blank">
                                <button class="defaultBtn3">Live test</button>
                                </a>
                            <a href="https://github.com/manuelbrauncoder/Pokedex" target="_blank">
                                <button class="defaultBtn2">Github</button>
                            </a>
                    </div>
                </div>
            </app-project>
        </div>
    </section>
</div>