@import './../../styles.scss';

.activeLangBtn {
    text-decoration: underline;
    text-decoration-color: $cyan-blue;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
  }
  
  .languageBtns {
    @include dFlex($g: 8px);
    span {
      font-size: 16px !important;
    }
  }

  nav {
    @include dFlex($fd: column, $g: 29px);
    margin-top: auto;
    height: 50%;
    span {
      @include fontPoppins($fs: 23px, $fw: 400);
      cursor: pointer;
    }
  }