<main>
    <section>
        <div>
            <img class="atfImg" src="assets/img/placeholder_img.png" alt="">
        </div>
        <div>
            <div class="introduction">
                <div class="name">
                    <span class="rotate-span">I am</span>
                    <div>
                        <span>Manuel Braun</span>
                        <span>FRONTEND DEVELOPER</span>
                    </div>
                </div>
                <button class="defaultBtn1">Let´s talk!</button>
            </div>

        </div>
    </section>
    <nav>
        <a href=""><img src="/assets/img/blue_line_horizontal.png" alt=""></a>
        <a href=""><img src="/assets/img/github_btn.png" alt=""></a>
        <a href=""><img src="/assets/img/email_btn.png" alt=""></a>
        <a href=""><img src="/assets/img/linkedin_btn.png" alt=""></a>
    </nav>
</main>