<div class="project-wrapper">
    <a data-aos="fade-right" data-aos-offset="500" class="noLineBreak center-jc" href="https://pokedex.manuel-braun.net/" target="_blank">
        <img class="projectImg" src="assets/img/projects/pokedex.png" alt="">
    </a>
    <div data-aos="fade-left" data-aos-offset="500" class="project">
        <div class="portfolioDescription">
            <h1>Pokedex</h1>
            <h2>Angular | TypeScript | Rest Api | HTML | SCSS</h2>
            <p>{{ 'portfolio.project3.text' | translate }}</p>
        </div>
        <div class="btns">
                <a class="noLineBreak" href="https://pokedex.manuel-braun.net/" target="_blank">
                    <button class="defaultBtn3">Live test</button>
                    </a>
                <a href="https://github.com/manuelbrauncoder/Pokedex" target="_blank">
                    <button class="defaultBtn2">Github</button>
                </a>
        </div>
    </div>
</div>
