@import '../../styles.scss';

.background{
    @include dFlex($fd: column);
    border: 3px solid $cyan-blue;
    padding: 16px 32px;
    background-color: $bgColor2;
    h1{
        @include fontPoppins($fs: 54px, $fw: 700);
        @media(max-width: 899px) {
            @include fontPoppins($fs: 24px, $fw: 700);
        }   
    }
    p{
        @include fontPoppins($fs: 24px, $fw: 500);
        @media(max-width: 899px) {
            @include fontPoppins($fs: 16px, $fw: 500);
        }
    }
}

