<div data-aos="fade-right" data-aos-offset="500" class="project-wrapper">
    <a class="noLineBreak center-jc" href="https://el-pollo-loco.manuel-braun.net/" target="_blank">
        <img class="projectImg" src="assets/img/projects/epl.png" alt="">
    </a>
    <div class="project">
        <div class="portfolioDescription">
            <h1>El Pollo Loco</h1>
            <h2>JavaScript | HTML | CSS</h2>
            <p>{{ 'portfolio.project2.text' | translate }}</p>
        </div>
        <div class="btns">
                <a class="noLineBreak" href="https://el-pollo-loco.manuel-braun.net/" target="_blank">
                    <button class="defaultBtn3">Live test</button>    
                </a>
                <a href="https://github.com/manuelbrauncoder/El-Pollo-Loco" target="_blank">
                    <button class="defaultBtn2">Github</button>
                </a>
        </div>
    </div>
</div>
