@import './../../styles.scss';

.background{
    @include dFlex($fd: column, $g: 32px);
    background-color: $bgColor2;
    padding: 120px 64px;
    @media(max-width: 599px){
        padding: 120px 16px;
    }
}

section{
    max-width: $contentLimit;
    margin-inline: auto;
    min-height: calc(100dvh - 200px);
    @include fontPoppins($fs: 16px, $fw: 400);
}

.back{
    margin-left: auto;
}

.backBtn {
    transform: rotate(-90deg);
    height: 39px;
    width: 39px;
    cursor: pointer;
    &:hover {
      rect {
        stroke: $cyan-blue;
      }
      path {
        stroke: $cyan-blue;
        fill: $cyan-blue;
      }
    }
  }