@import '../../styles.scss';

.background{
    height: 100vh;
    width: 100vw;
    background-color: $bgColor2;
    padding: 16px 24px;
    @include dFlex();
}

.notSupported{
    border: 2px solid $cyan-blue;
    border-radius: 16px;
    padding: 15px 30px;
    @include dFlex($g: 16px);
    h1{
        @include fontPoppins($fs: 32px, $fw: 700);
    }
    img{
        height: 60px;
        width: 60px;
    }
}