@import "./../../../styles.scss";

section {
  border-top: 4px solid $cyan-blue;
  min-height: 290px;
  background-color: $bgColor1;
  @include dFlex($fd: column, $g: 64px);
  padding: 64px 16px;
  .logoName {
    @include dFlex();
    
  }
  div:nth-of-type(2) {
    span {
      @include fontPoppins($fs: 23px, $fw: 400);
    }
  }
  nav {
    @include dFlex($g: 32px);
    img {
      height: 30px;
      width: 30px;
    }
  }
  a {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
}
