@import "./../../../styles.scss";

section {
  border-top: 4px solid $cyan-blue;
  min-height: 290px;
  background-color: $bgColor2;
  @include dFlex($fd: column, $g: 64px);
  padding: 64px 16px;
  .logoName {
    @include dFlex();
    
  }
  div:nth-of-type(1) {
    span {
      @include fontPoppins($fs: 23px, $fw: 400);
    }
  }
  nav {
    @include dFlex($g: 32px);
    img {
      height: 30px;
      width: 30px;
    }
  }
  a {
    @include fontPoppins($fs: 16px, $fw: 400);
    &:hover{
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;
      text-decoration-color: $cyan-blue;
    }
  }
}

.socialLinks {
  transition: transform 125ms ease-out;
  &:hover {
    transform: scale(1.2, 1.2) translate(5px, 5px);
  }
}
