<section>
    <a href="#top" class="logoName">
        <span class="firstLetter">M</span><span class="other">anue</span><span class="lastLetter">l</span>
    </a>

    <nav>
        <a class="socialLinks" target="_blank" href="https://github.com/manuelbrauncoder"><img src="/assets/img/github_btn.png" alt="Github Icon"></a>
        <a class="socialLinks" href="mailto: info@manuel-braun.net"><img src="/assets/img/email_btn.png" alt="Mail Icon"></a>
        <a class="socialLinks" target="_blank" href=""><img src="/assets/img/linkedin_btn.png" alt="Linkedin Icon"></a>
    </nav>
    <div>
        <span>© Manuel Braun 2024</span>
    </div>
    <a href="imprint">{{ 'footer.imprint' | translate }}</a>
</section>