@import "./../../../styles.scss";

section {
  border-top: 4px solid $cyan-blue;
  min-height: 290px;
  background-color: $bgColor2;
  @include dFlex($fd: column, $g: 32px);
  padding: 64px 16px;
  .logoName {
    @include dFlex();
  }
  div:nth-of-type(1) {
    span {
      @include fontPoppins($fs: 23px, $fw: 400);
    }
  }
  nav {
    @include dFlex($g: 32px);
    img {
      height: 30px;
      width: 30px;
    }
  }
}

.imprintWrapper {
  position: relative;
  &:hover .underline {
    display: block;
  }
  a {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
}

.underline {
  position: absolute;
  display: none;
  width: 50%;
  height: 2px;
  border: unset;
  border-bottom: 100vw;
  background-color: $cyan-blue;
}

.socialLinks {
  transition: transform 125ms ease-out;
  &:hover {
    transform: scale(1.2, 1.2) translate(5px, 5px);
  }
}
