@import "./../../../styles.scss";

.background {
  background-color: $bgColor2;
  border-top: 4px solid $cyan-blue;
  padding: 0 64px;
  @media (max-width: 599px) {
    padding: 0 16px;
  }
}

section {
  max-width: $contentLimit;
  margin-inline: auto;
  min-height: 290px;
  @include dFlex($jc: space-between);
  .nameAndImprint {
    @include dFlex($fd: column, $ai: flex-start);
  }
  div:nth-of-type(2) {
    span {
      @include fontPoppins($fs: 23px, $fw: 400);
    }
    @media (max-width: 899px) {
      display: none;
    }
  }
  nav {
    @include dFlex($g: 32px);
    img {
      height: 30px;
      width: 30px;
    }
  }
}

.imprintWrapper {
  position: relative;
  &:hover .underline {
    display: block;
  }
  a {
    @include fontPoppins($fs: 16px, $fw: 400);
  }
}

.underline {
  position: absolute;
  display: none;
  width: 50%;
  height: 2px;
  border: unset;
  border-bottom: 100vw;
  background-color: $cyan-blue;
}

.socialLinks {
  transition: transform 125ms ease-out;
  &:hover {
    transform: scale(1.2, 1.2) translate(5px, 5px);
  }
}
