<div class="background">
    
    <div class="outerDiv">

        <!-- <img class="shape" src="assets/img/atf-shape2.png" alt=""> -->

        <section>
            <!-- <div class="myImg"> -->
                <!-- <img class="shadow1" src="assets/img/atf-shadow-1.png" alt="">
                <img class="shadow2" src="assets/img/atf-shadow-2.png" alt=""> -->
                <img class="atfImg" src="assets/img/placeholder_img.png" alt="">
            <!-- </div> -->

            <div class="introduction">
                <div class="name">
                    <span class="rotate-span">I am</span>
                    <div>
                        <span class="manbra">Manuel Braun</span>
                        <span class="frontEnd">FRONTEND DEVELOPER</span>
                    </div>
                </div>
                <button class="defaultBtn1">
                    <a href="#contact">Let´s talk!</a>
                </button>
            </div>


        </section>

        <nav>
            <div>
                <hr class="blueLine">
                <a class="socialLinks" href="https://github.com/manuelbrauncoder" target="_blank"><img src="/assets/img/github_btn.png" alt=""></a>
                <a class="socialLinks" href="mailto: manuel.braun.coder@gmail.com"><img src="/assets/img/email_btn.png" alt=""></a>
                <a class="socialLinks" href=""><img src="/assets/img/linkedin_btn.png" alt=""></a>
                <a href="#contact">info&#64;manuel-braun.net</a>
            </div>
            <div>
                <span>Scroll down</span>
                <img src="assets/img/arrow_down.png" alt="">
            </div>
        </nav>

    </div>
</div>