<div class="background">
  <div class="outerDiv">
    <div class="gradient-container"></div>
    <div class="border-container"></div>
    <section>
      <div class="imgContainer">
        <img class="blur" src="assets/img/blur-atf.png" alt="" />
        <img
          #myImg
          class="atfImg"
          src="assets/img/new-atf-img.webp"
          alt=""
        />
      </div>
      <div class="introduction">
        <div data-aos="fade-left" class="name">
          <span
            [ngClass]="{
              'rotate-spanEN': currentLanguage === 'en',
              'rotate-spanDE': currentLanguage === 'de'
            }"
            class="rotate-span"
            >{{ "atf.iam" | translate }}</span
          >
          <div>
            <span class="manbra">Manuel Braun</span>
            <span class="frontEnd">{{ "atf.dev" | translate }}</span>
          </div>
        </div>
        <button (click)="scrollToElement('contact')" class="defaultBtn1">
          {{ "atf.btn" | translate }}
        </button>
      </div>
    </section>
    <nav>
      <div>
        <hr class="line" />
        <a
          class="socialLinks"
          href="https://github.com/manuelbrauncoder"
          target="_blank"
          ><img src="/assets/img/github_btn.png" alt="Github Icon"
        /></a>
        <a class="socialLinks" href="mailto: contact@manuel-braun.net"
          ><img src="/assets/img/email_btn.png" alt="Mail Icon"
        /></a>
        <a
          class="socialLinks"
          href="https://www.linkedin.com/in/manuel-braun-developer/"
          target="_blank"
          ><img src="/assets/img/linkedin_btn.png" alt="Linkedin Icon"
        /></a>
        <a class="mailLink" href="mailto: contact@manuel-braun.net" target="_blank"
          >contact&#64;manuel-braun.net</a
        >
      </div>
      <div>
        <span>Scroll down</span>
        <img src="assets/img/arrow_down.png" alt="" />
      </div>
    </nav>
  </div>
</div>