<div class="background">
    
    <div class="outerDiv">

        

        <section>
            
                <img class="atfImg" src="assets/img/atf.png" alt="">
            

            <div class="introduction">
                <div data-aos="fade-left" class="name">
                    <span class="rotate-span">I am</span>
                    <div>
                        <span class="manbra">Manuel Braun</span>
                        <span class="frontEnd">FRONTEND DEVELOPER</span>
                    </div>
                </div>
                <button class="defaultBtn1">
                    <a href="#contact">Let´s talk!</a>
                </button>
            </div>


        </section>

        <nav>
            <div>
                
                <a class="socialLinks" href="https://github.com/manuelbrauncoder" target="_blank"><img src="/assets/img/github_btn.png" alt=""></a>
                <a class="socialLinks" href="mailto: manuel.braun.coder@gmail.com"><img src="/assets/img/email_btn.png" alt=""></a>
                <a class="socialLinks" href=""><img src="/assets/img/linkedin_btn.png" alt=""></a>
                <a href="#contact">info&#64;manuel-braun.net</a>
            </div>
            <div>
                <span>Scroll down</span>
                <img src="assets/img/arrow_down.png" alt="">
            </div>
        </nav>

    </div>
</div>