@import "./../../styles.scss";

.background {
  z-index: 1;
  position: relative;
  background-color: $bgColor2;
  padding: 100px 64px 0 64px;
  @media (max-width: 599px) {
    padding: 100px 16px 0 16px;
  }
}

.shape {
  z-index: 1;
  position: absolute;
  bottom: 0;
  svg {
    height: calc((100dvh - 100px) / 2.5);
    width: 100vw;
    transform: scale(5, 3);
    @media(max-width: 899px){
      transform: scale(1.5);
      height: calc((100dvh - 100px) / 1.5);
    }
    @media(min-width: 1699px) {
      transform: scale(18, 6);
      height: calc((100dvh - 100px) / 4);
    }
  }
}

.outerDiv {
  z-index: 2;
  width: 100vw;
  max-width: $contentLimit;
  height: calc(100dvh - 100px);
  margin-inline: auto;
  @include dFlex($fd: column, $jc: space-between);
}

section {
  margin-top: auto;
  margin-bottom: auto;
  @include dFlex($jc: space-between);
  padding: 32px 0 0 0;
  @media (max-width: 899px) {
    @include dFlex($fd: column, $g: 32px, $jc: space-around);
  }
}

.imgContainer {
  position: relative;
  .atfImg {
    height: calc((100dvh - 100px) / 2);
    width: auto;
  }
  .blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(-20%, 0);
    width: 600px;
    @media (max-width: 899px) {
      width: 500px;
    }
    @media (max-width: 599px) {
      width: 300px;
    }
  }
}

.introduction {
  z-index: 2;
  @include dFlex($fd: column, $g: 32px);
  @media (max-width: 599px) {
    gap: 16px;
    margin-bottom: 32px;
  }
}

.name {
  @include dFlex();
  height: fit-content;
  @media (max-width: 599px) {
    height: 90px;
  }
  div {
    height: 100%;
    @include dFlex($fd: column, $jc: space-between);
    span {
      white-space: nowrap;
    }
  }
  .manbra {
    @include fontPoppins($fs: 90px, $fw: 700);
    @media (max-width: 1299px) {
      font-size: 64px;
    }
    @media (max-width: 599px) {
      font-size: 32px;
    }
  }
  .frontEnd {
    @include fontPoppins($fs: 58px, $fw: 400, $c: $blue);
    letter-spacing: 1px;
    @media (max-width: 1299px) {
      font-size: 40px;
    }
    @media (max-width: 599px) {
      font-size: 20px;
    }
  }
}

.rotate-spanEN {
  writing-mode: vertical-rl;
  letter-spacing: 9px;
  transform: rotate(180deg);
  @include fontPoppins($fs: 64px, $fw: 400);
  @media (max-width: 1299px) {
    font-size: 48px;
    letter-spacing: 5px;
  }
  @media (max-width: 599px) {
    font-size: 28px;
    letter-spacing: 3px;
  }
}

.rotate-spanDE {
  writing-mode: vertical-rl;
  letter-spacing: 0;
  transform: rotate(180deg);
  @include fontPoppins($fs: 54px, $fw: 400);
  @media (max-width: 1299px) {
    font-size: 32px;
    letter-spacing: 2px;
  }
  @media (max-width: 599px) {
    font-size: 25px;
    letter-spacing: 0;
  }
}

nav {
  z-index: 2;
  padding: 0 32px 0 0;
  @include dFlex($jc: space-between, $ai: flex-end);
  width: 100%;
  @media (max-width: 899px) {
    width: 100%;
    padding: 0;
    justify-content: flex-start;
  }
  div:first-of-type {
    @include dFlex($jc: flex-start, $g: 32px);
    a:nth-of-type(4) {
      @media (max-width: 899px) {
        display: none;
      }
    }
  }
  div:nth-of-type(2) {
    animation: upAndDown 5000ms ease;
    @include dFlex($fd: column, $g: 3px);
    img {
      width: 16px;
      height: 16px;
    }
    span {
      writing-mode: vertical-lr;
      @include fontPoppins($fs: 23px, $fw: 400);
    }
    @media (max-width: 899px) {
      display: none;
    }
  }
}

@keyframes upAndDown {
  0% {
    transform: none;
  }
  15% {
    transform: translateY(-20px);
  }
  30% {
    transform: none;
  }
  45% {
    transform: translateY(-20px);
  }
  60% {
    transform: none;
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: none;
  }
}

.line {
  border: unset;
  height: 4px;
  border-radius: 4px;
  background-color: $blue;
  width: 100px;
  @media (max-width: 599px) {
    margin-left: -16px;
  }
}

.socialLinks {
  transition: transform 125ms ease-out;
  &:hover {
    transform: scale(1.2, 1.2) translateX(5px);
  }
}

.mailLink {
  cursor: pointer;
  &:hover {
    color: $cyan-blue;
  }
}